@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
a,a:hover{
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
/* Common CSS End*/

/* Header CSS Start*/
.header{
	width:100%;
}
.top-header{
	width:100%;
	background: #f5f7fa;
	padding:5px 0;
}
.top-info{
	width:100%;
}
.top-info ul{}
.top-info li{
	display: inline-block;
	font-size: 14px;
	color:#506a85;
	margin-right: 15px;
}
.top-info .fa{
	margin-right: 10px;
}
.social-icons{
	width:100%;
	display: block;
	text-align: right;
}
.social-icons li{
	display: inline-block;
	margin: 0px 5px;
}
.social-icons li a{
	font-size: 14px;
	color:#506a85;
}
.social-icons li a:hover,
.social-icons li a:focus{
	color:#00bc9c;
}
.social-icons li a .fa{}
.main-menu{}
.main-menu .bg-light {
	background-color: #fff !important;
}
.main-menu .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: #506a85;
}
.main-menu .navbar-light .navbar-nav .nav-link {
	color: #506a85;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 15px;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover,
.main-menu .navbar-light .navbar-nav .nav-link:focus{
	color:#00bc9c;
}
.main-menu .fa-search{
	color: #506a85;
	cursor: pointer;
}
.main-menu .fa-search:hover{
	color:#00bc9c;
}

/* Header CSS End*/
/* Slider CSS Start */
.slider{}
.slider .carousel-caption h2{
	font-size: 78px;
	font-weight: 700;
	color:#fff;
	text-transform: uppercase;
}
.slider .carousel-caption{
	bottom: 8.25rem;
}
.slider .carousel-caption p{
	width: 90%;
	font-size: 22px;
	line-height: 32px;
	color: #a3b1bf;
}
.slider .carousel-control-prev {
	left: 0 !important;
	bottom: 10% !important;
}
.slider .carousel-control-next {
	right: 0 !important;
	bottom: 10% !important;
}
.slider .btn-info{
	padding: 15px 40px;
	background: #00bc9c;
	font-size: 18px;
	font-weight: 600;
	border-radius:3px;
	color:#fff;
	text-transform: uppercase;
	margin-top:60px;
	transition: 1s;
}
.slider .btn-info:hover,
.slider .btn-info:focus{
	background: transparent;
	border:1px solid #00bc9c;
	color:#00bc9c;
	box-shadow: none;
}
/* Slider CSS End */

/* Who We CSS Start*/
.who-we{
	width:100%;
	padding: 80px 0;
}
.title{
	width:100%;
	text-align:center;
}
.title h3{
	font-size: 44px;
	font-weight: 700;
	color:#506a85;
}
.title p {
	font-size: 19px;
	line-height: 38px;
	color: #73879c;
	padding: 0px 37px;
}
.inner-who-we{
	width: 100%;
	padding: 40px 0px 0px;
}
.inner-who-we img {
	margin-top: 20px;
}
.inner-who-we .card{
	border:none;
}
.inner-who-we .card-body{}
.inner-who-we .card-title{
	font-size: 26px;
	font-weight: 700;
	color:#506a85;
}
.inner-who-we .card-text{
	font-size: 15px;
	line-height: 26px;
	color:#73879c;
	font-weight: 600;
}


/* Who We CSS End*/

/* Latest Work CSS Start */
.latest-work{
	width:100%;
	padding: 80px 0px;
	background: #f2f5f7
}
.inner-latest-work{
	margin:50px 0px;
}
.latest-work .card{
	width:100%;
	text-align: center;
}
.latest-work .card .card-body{}
.latest-work .card .card-body h5{
	font-size: 20px;
	font-weight: 700;
	color:#506a85;
}
.latest-work .card .card-body p{
	font-size: 14px;
	color:#73879c;
}
.latest-work-carousel{
	padding: 50px 0px 0px;
}
.latest-work-carousel .owl-theme .owl-dots .owl-dot span {
	margin: 50px 7px 0px;
}
.latest-work-carousel .owl-theme .owl-dots .owl-dot.active span{
	background: #00bc9c;
}
/* Latest Work CSS End */
/* Get In Touch CSS Start */
.get-in-touch{
	width:100%;
	padding: 80px 0px;
}
.get-in-touch p{
	font-size:22px;
}
.get-in-touch .btn-info {
	color: #fff;
	background-color: #00bc9c;
	border-color: #00bc9c;
	transition: 1s;
}
.get-in-touch .btn-info:hover,
.get-in-touch .btn-info:focus{
	background-color:transparent;
	border-color: #00bc9c;
	color: #00bc9c;
	box-shadow: none;
}
.get-in-touch .btn{
	font-size:18px;
	color:#fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	padding: 12px 25px;
	border-radius: 3px;
	margin-top:30px;
}
/* Get In Touch CSS End */
/* Footer CSS Start */
.footer{
	width:100%;
}
.footer-top{
	width: 100%;
	padding: 80px 0px;
	background: #2f4052;
}
.widget{
	width:100%;
}
.widget .f-title{
	width: 100%;
}
.widget .f-title h4{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom:20px;
}
.widget .f-logo{
	width:100%;
}
.widget .f-logo img{
	margin-bottom: 20px;
}
.widget .f-content{
	width:100%;
}
.widget .f-content P{
	font-size:14px;
	line-height: 24px;
	color:#a3b1bf;
	font-weight: 600;
	margin-bottom:20px;
}
.widget .f-link{
	width:100%;
}
.widget .f-link a{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color:#a3b1bf;
	font-weight: 700;
}
.widget .f-link .fa {
	margin-left: 10px;
	font-size: 15px;
}

.widget .card{
	border: 0px !important;
	border-radius: 0px !important;
}
.widget .card .card-img, .card-img-top {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.widget .f-location{
	width:100%;
	margin:0;
	padding: 0;
}
.widget .f-location p{
	font-size:14px;
	line-height: 28px;
	color:#a3b1bf;
	font-weight: 600;
	margin:0px;
}
.widget .f-location .fa {
	color: #a3b1bf;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	font-weight: 500;
}

.widget .main-form{
	width:100%;
}
.widget .form-control{
	background: #4e5c6c;
	border: none;
	font-size: 14px;
	color:#a3b1bf;
	padding: 10px;
	position: relative;
}
.widget .form-control:focus{
	box-shadow: none !important;
}
.widget .btn-sub {
	position: absolute;
	top: 6px;
	right: 5px;
	padding: 3px 12px;
	background: #00bc9c;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	border: none;
	border-radius: 3px !important;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	z-index: 999;
}
.footer-bottom{
	width:100%;
	background: #283645;
	padding: 30px 0;
}
.f-b-text{
	/*padding: 30px 0;*/
}
.f-b-text p{
	font-size: 14px;
	color:#707e8c;
	margin:0;
}
.footer-bottom .f-menu{
	width: 100%;
}
.footer-bottom .f-menu ul{
	display: flex;
	display-direction:row;
	justify-content: flex-end;

}
.footer-bottom .f-menu ul li{
	margin-right: 20px;

}
.footer-bottom .f-menu ul li a{
		font-size: 14px;
		color:#707e8c;
		display: block;
}
.footer-bottom .f-menu ul li a:hover{}
/* Footer CSS End */

.scroll-top{
	width:100%;
	display: none;
}
.scroll-icon{
/*	position: absolute;
	bottom:10px;
	right: 10px;*/
}
.scroll-icon i{
	position: fixed;
	bottom:20px;
	right: 10px;
	width:40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	background: #3c5065;
	color:#fff;
}
